html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
}
a{
    text-decoration: inherit;
    color: inherit;
}
body{
    background: url("../images/waves.jpg");
    background-attachment: fixed;
}
.overlay{
    width: 100%;
    height: 100%;
}
main{
    width: 1000px;
    /* border: 3px solid red; */
    margin: auto;
}
header{
    width: 100%;
    height: 650px;
    border-bottom: 10px solid #0083ce;
    background: url("../images/headerbg.jpg")no-repeat fixed;
    background-size: cover;
}
header .overlay{
    background:url("../images/gridtile.png") ;
}
.head-1{
    width: 300px;
    margin: auto;
    /* border: 2px solid red; */
    padding-top: 30px;
}
.head-t{
    width: 373px;
    padding: 20px ;
    margin: auto;
    font-size: 36px;
    color: white;
    font-weight: bold;
    border: 3px solid #27E0FF;
    text-align: center;
    border-left: none;
    border-right: none;
    margin-top: 120px;
}
nav{
    text-align: center;
    margin-top: 150px;
}
nav ul li{
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 35px;
    text-decoration: underline;
    font-weight: bold;
    border-right: 2px solid white;
}
nav ul li:last-child{
    border: none;
}
section{
    width: 100%;
    height: 900px;
    /* border: 3px solid yellow; */
}
#home .top{
    width: 100%;
    height: 320px;
    background: url("../images/3.jpg")center center no-repeat fixed;
    background-size: 80% auto;
    
}
.top .overlay{
    color: white;
    display: flex;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
}
.text{
    font-weight: bold;
    padding: 5px 10px;
    border: 7px solid white;
    font-size: 26px;
}
.bottom{
    width: 100%;
    height:580px ;
    background-color: white;
}
.bottom p{
    width: 98%;
    text-align: center;
    margin: auto;
    font-size: 17px;
    line-height: 25px;
    padding: 60px 10px;
}
.para-1{
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    color: #182D55;
}
.para-img{
    width: 220px;
    height: 45px;
    margin: auto;
    margin-top: 70px;
}
.back{
    text-align: center;
    font-size: 26px;
    color: #182D55;
    text-decoration: underline;
    margin-top: 55px;
}
#about .top{
    width: 100%;
    height: 320px;
    background: url("../images/1.jpg")center center no-repeat fixed;
    background-size: 75% auto;
    
}
#services .top{
    width: 100%;
    height: 320px;
    background: url("../images/2.jpg")center center no-repeat fixed;
    background-size: 100% auto;
}
#training .top{
    width: 100%;
    height: 320px;
    background: url("../images/banner-7.jpg")center center no-repeat fixed;
    background-size: 97% 100%;
}
#contact .top{
    width: 100%;
    height: 320px;
    background: url("../images/4.jpg")center center no-repeat fixed;
    background-size: 80% auto;
}
#contact .bottom h1{
    text-align: center;
    font-size: 34px;
    color: #182D55;
    padding-top: 30px;
    font-weight: normal;
}
.contact-text{
    text-align: center;
    margin: 15px 0px;
    font-size: 20px;
    color: #182D55;
    line-height: 30px;
}
.para-c{
    font-size: 25px;
    color: #182D55;
    margin-top: 100px;
}
.contact-back{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    line-height: 15px;
    padding: 20px 0px;
    margin-top: 100px;
}